<h2>Enter the Meal Details</h2>
<form name="inputNumbers" ng-submit="submit()">
  <table>
    <tbody>
      <tr>
        <td>Base Meal Price:</td>
        <td><input type="number" name="mealPrice" ng-model="data.mealPrice" required ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></td>
      </tr>
      <tr>
        <td>Tax Rate:</td>
        <td><input type="number" name="taxRate" ng-model="data.taxRate" required /></td>
      </tr>
      <tr>
        <td>Tip Percentage:</td>
        <td><input type="number" name="tipPercentage" ng-model="data.tipPercentage" required /></td>
      </tr>
      <tr>
        <td><input type="submit" /></td>
        <td><input type="reset" /></td>
      </tr>
    </tbody>
  </table>
</form>
<h2>Customer Charges</h2>
<table>
  <tbody>
    <tr>
      <td>Subtotal:</td>
      <td>{{subtotal | currency:"$"}}</td>
    </tr>
    <tr>
      <td>Tip:</td>
      <td class="underline">{{tipAmount | currency}}</td>
    </tr>
    <tr>
      <td>Total:</td>
      <td>{{total | currency}}</td>
    </tr>
  </tbody>
</table>
